.vscode
test
readexe
**/*.o
**/*.exe
**/*.S
aclocal.m4
Makefile.in
compile
config.h
config.h.in
config.log
config.status
configure
configure~
depcomp
install-sh
Makefile
missing
stamp-h1
.deps
autom4te.cache
**/*.err
**/*.obj
**/*.map
**/*~